<html>

<body>
  <table class="TABLE" cellpadding="10">
    <tr>
      <td width="50%" valign="top">
        <h1 class="CADASTRO">Cadastro</h1>
        <form style="padding-left: 15px;">
          <div class="form-group row">
            <label for="text" class="col-sm-1 col-form-label">Nome:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-1 col-form-label">Email:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="staticEmail">
            </div>
          </div>
          <div class="form-group row">
            <label for="text" class="col-sm-1 col-form-label">Telefone:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-1 col-form-label">Senha:</label>
            <div class="col-sm-5">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-1 col-form-label">Confirmar Senha:</label>
            <div class="col-sm-5">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="form-group row">
            <label for="text" class="col-sm-1 col-form-label">Endereço:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="text" class="col-sm-1 col-form-label">Cidade/Estado:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="text">
            </div>
          </div>
          <table style="width: 100%;">
            <tr>
              <td style="width: 40%;">
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label">Você é:</label>
                </div>
              </td>
              <td style="width: 60%;">
                <div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">Cuidador</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Cliente</label>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </form>
        <table class="table-botao">
          <tr>
            <td>
              <h1 class="entrar-button-h1">
                <a class="entrar-button" routerLink="">Entrar</a>
              </h1>
            </td>
          </tr>
        </table>
      </td>
      <td class="image_background"></td>
    </tr>
  </table>
</body>

</html>