.image_background{
  background-image: url(/assets/img/cadastro_image.svg);
  width: 50%;
  vertical-align: top;
  padding-left: 0px; 
  padding-top: 0px; 
  padding-bottom: 0px; 
  padding-right: 0px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #338326;
  background-color: #338326;
}
.TABLE{
  border: 0px;
  width: 100%;
}
.CADASTRO{
  text-align: center; 
  margin-bottom: 10px; 
  font-size: 48px; 
  font-weight: 600; 
  color: #7c7c7c;
}
.col-form-label{
  font-size: 24px; 
  font-weight: 600;
  color: #7c7c7c;
}
.col-sm-5{
  left: 225px;
  top: 12px;
  bottom: 0px;
}
.form-control{
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
}
.custom-control-label{
  text-align: center;
  color: #7c7c7c; 
  font-size: 24px; 
  font-weight: 600;
}
.entrar-button{
  float: center; 
  border:1px solid; 
  vertical-align: middle; 
  background:#338326; 
  color:white; 
  font-weight: 600; 
  border-radius:6px; 
  font-size: 24px; 
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.entrar-button-h1{
  text-align: center; 
  margin-bottom: 10px;
}
.table-botao{
  width: 90%; 
  font-size: 24px; 
  margin-left: 45px; 
  margin-top: 10px;
  border-top-style: solid; 
  border-top-width: 1,5px; 
  border-left-style: solid; 
  border-left-width: 1,5px; 
  border-bottom-width: 1,5px; 
  border-bottom-style: solid; 
  border-right-width: 1,5px; 
  border-right-style: solid;
  border-color: white;
  float: center;
}