<html>

<body>
  <table cellpadding="10">
    <tr>
      <td>
        <h1 class="recuperar-senha">
          Recuperar Senha
        </h1>
        <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-1 col-form-label">Email:</label>
            <div class="col-sm-5 form-label-1">
              <input type="text" class="form-control" id="staticEmail">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-1 col-form-label">Senha:</label>
            <div class="col-sm-5 form-label-1">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div style="margin-bottom: 5px;" class="form-group row">
            <label for="inputPassword" class="col-sm-1 col-form-label">Confirmar Senha:</label>
            <div class="col-sm-5 form-label-1">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
        </form>
        <table class="table-botao">
          <tr>
            <td>
              <h1 class="recuperar-senha-button-h1">
                <a class="recuperar-senha-button" routerLink="">Recuperar Senha</a>
              </h1>
            </td>
          </tr>
        </table>
      </td>
      <td class="image_background"></td>
    </tr>
  </table>
</body>

</html>