<html>

<body>
  <table class="main-table"cellpadding="10">
    <tr style="border-color: transparent;">
      <td style="border-color: transparent;" width="50%" valign="top">
        <h1 class="disp-title">
          Disponibilização de Produtos
        </h1>
        <table class="disp-table">
          <thead>
            <tr class="tr-thead-principal">
              <th class="th-thead-principal" colspan="5" >Produtos Disponíveis</th>
            </tr> 
          </thead>
          <tr class="tr-head">
            <th class="th-head" width="8%" >CRD.</th>
            <th class="th-head" width="23%" >Produto</th>
            <th class="th-head" width="23%">Quantidade existente</th>
            <th class="th-head" width="23%">Quantidade adicionada</th>
            <th class="th-head" width="23%">Quantidade atualizada</th>
          </tr>
          <tr>
            <td>C$1,00</td>
            <td>Tomate</td>
            <td>5</td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto" style=" text-align: center;">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. a ser adicionada">
                  </div>
                </div>
              </form>
            </td>
            <td>5</td>
          </tr>
          <tr>
            <td>C$2,00</td>
            <td>Alface</td>
            <td>20</td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. a ser adicionada">
                  </div>
                </div>
              </form>
            </td>
            <td>20</td>
          </tr>
          <tr>
            <td>C$3,00</td>
            <td>Rúcula</td>
            <td>10</td>
            <td>
              <form style="text-align: center;">
                <div class="form-row align-items-center" style="text-align: center;">
                  <div class="col-auto" style="text-align: center;">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. a ser adicionada">
                  </div>
                </div>
              </form>
            </td>
            <td>10</td>
          </tr>
          <tr>
            <td>C$4,00</td>
            <td>Pimenta</td>
            <td>25</td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. a ser adicionada">
                  </div>
                </div>
              </form>
            </td>
            <td>25</td>
          </tr>
          <tr>
            <td>C$5,00</td>
            <td>Cebola</td>
            <td>0</td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. a ser adicionada">
                  </div>
                </div>
              </form>
            </td>
            <td>0</td>
          </tr>
          <tr>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Custo">
                  </div>
                </div>
              </form>
            </td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Nome do Produto">
                  </div>
                </div>
              </form>
            </td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. existente">
                  </div>
                </div>
              </form>
            </td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. a ser adicionada">
                  </div>
                </div>
              </form>
            </td>
          </tr>
        </table>
        <!-- <img src="./assets/img/add_products.svg" height="24" width="24" alt=" "> ALINHAR COM A ÚLTIMA LINHA -->
        <table class="button-table">
          <tr style="border-color: transparent;">
            <td style="border-color: transparent;">
              <h1 class="disp-button-h1">
                <a class="disp-button" href="#">Disponibilizar</a>
              </h1>
            </td>
          </tr>
        </table>
      </td>

      <td class="image_background"></td>

    </tr>
  </table>
</body>

</html>