<html>

<body>
  <table style="border: 0px;" width=100% cellpadding="10">
    <tr style="border-color: transparent;">
      <td style="border-color: transparent;" width="50%" valign="top">
        <h1 class="retirada-title">Solicitação para retirada de produtos</h1>
        <table class="retirada-table">
          <thead>
            <tr class="tr-thead-principal">
              <th class="th-thead-principal" colspan="5">Produtos Disponíveis</th>
            </tr> 
          </thead>
          <tr class="tr-head">
            <th class="th-head" width=8%; >CRD.</th>
            <th class="th-head" width= 23%;>Produto</th>
            <th class="th-head" width= 23%;>Quantidade existente</th>
            <th class="th-head" width= 23%;>Quantidade desejada</th>
            <th class="th-head" width= 23%;>Total (C$)</th>
          </tr>
          <tr>
            <td style="font-size: 14px;">C$1,00</td>
            <td>Tomate</td>
            <td>5</td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td>C$0,00</td>
          </tr>
          <tr>
            <td style="font-size: 14px;">C$2,00</td>
            <td>Alface</td>
            <td>20</td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td>C$0,00</td>
          </tr>
          <tr>
            <td style="font-size: 14px;">C$3,00</td>
            <td>Rúcula</td>
            <td>10</td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td>C$0,00</td>
          </tr>
          <tr>
            <td style="font-size: 14px;">C$4,00</td>
            <td>Pimenta</td>
            <td>25</td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td>C$0,00</td>
          </tr>
          <tr>
            <td style="font-size: 14px;">C$5,00</td>
            <td>Cebola</td>
            <td>0</td>
            <td>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td>C$0,00</td>
          </tr>
          <tr style="border-color: transparent;">
            <td style="border-left: transparent; border-color: transparent;"></td>
            <td style="border-color: transparent;"></td>
            <td style="border-color: transparent;"></td>
            <td style="border-color: transparent;">Total:</td>
            <td style="border-color: transparent;">C$0,00</td>
          </tr>
          <tr style="border-color: transparent;">
            <td style="border-left: transparent; border-color: transparent;"></td>
            <td style="border-color: transparent;"></td>
            <td style="border-color: transparent;"></td>
            <td style="border-color: transparent;">Você tem:</td>
            <td style="border-color: transparent;">C$100,00</td>
          </tr>
        </table>
        
        <table class="button-table">
          <tr style="border-color: transparent;">
            <td style="border-color: transparent;">
              <h1 class="retirada-button-h1">
                <a class="retirada-button" href="#">Solicitar</a>
              </h1>
            </td>
          </tr>

        </table>
      </td>
      <td class="image_background"></td>
    </tr>
  </table>
</body>

</html>