<html>

<body>
  <table style="border: 0px;" width=100% cellpadding="10">
    <tr>
      <td width="50%" valign="top">
        <h1
          style="text-align: center;  margin-bottom: 0px; font-size: 40px; font-weight: 600; color: #7c7c7c;margin-top: 0px;">
          Solicitação para retirada de produtos
        </h1>
        <table style="width: 90%; font-size: 18px; line-height: 40px; margin-left: 35px; border-top-style: solid; border-top-width: 1px; border-left-style: solid; border-left-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-right-width: 1px; border-right-style: solid; border-color: #7c7c7c;margin-top: 14px;">
          <thead>
            <tr style=" border-color: #7c7c7c; border-bottom-style: solid;  text-align: center;">
              <th style="color: #338326; border-bottom-width: 0px; border-color: #7c7c7c; line-height: 40px; width: 100%; text-align: center; font-size: 24px; border-right-width: 1px;" colspan="5" >Produtos Disponíveis</th>
            </tr> 
          </thead>
          <tr style="color: #338326; border-color: #7c7c7c; border-bottom-width: 1px;border-bottom-style: solid;">
            <th style="text-align: center;border-color: #7c7c7c; padding-bottom: 0px;padding-left: 1px; padding-top: 0px; padding-right: 1px; border-top-width: 1px; border-right-width: 1px; border-right-style: solid; line-height: 30px; width: 8%;" >CRD.</th>
            <th style="text-align: center;border-color: #7c7c7c; padding-bottom: 0px;padding-left: 1px; padding-top: 0px; padding-right: 1px; border-top-width: 1px; border-right-width: 1px;border-right-style: solid; line-height: 30px; width: 23%;">Produto</th>
            <th style="text-align: center;border-color: #7c7c7c; padding-bottom: 0px;padding-left: 1px; padding-top: 0px; padding-right: 1px; border-top-width: 1px; border-right-width: 1px;border-right-style: solid; line-height: 30px; width: 23%;">Quantidade existente</th>
            <th style="text-align: center;border-color: #7c7c7c; padding-bottom: 0px;padding-left: 1px; padding-top: 0px; padding-right: 1px; border-top-width: 1px; border-right-width: 1px;border-right-style: solid; line-height: 30px; width: 23%;">Quantidade desejada</th>
            <th style="text-align: center;border-color: #7c7c7c; padding-bottom: 0px;padding-left: 1px; padding-top: 0px; padding-right: 1px; border-top-width: 1px; border-right-width: 1px;border-right-style: solid; line-height: 30px; width: 23%;">Total (C$)</th>
          </tr>
          <tr style="color: #7c7c7c; border-color: #7c7c7c; border-bottom-width: 1px;border-bottom-style: solid;">
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;font-size: 14px;">C$1,00</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">Tomate</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">5</td>
            <td style="padding-bottom: 1px;padding-left: 0px; padding-top: 0px; padding-right: 0px; border-right-width: 1px; border-right-style: solid;">
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input  style="text-align: center;
                    padding-bottom: 1px;
                    padding-left: 0px; 
                    padding-top: 0px; 
                    padding-right: 0px;
                    border-left-width: 0px; 
                    border-left-style: solid;
                    border-top-width: 0px; 
                    border-top-style: solid;
                    border-bottom-width: 0px; 
                    border-bottom-style: solid;
                    border-right-width: 0px; 
                    border-right-style: solid;
                    font-style: italic;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 25px;" type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">C$0,00</td>
          </tr>
          <tr style="color: #7c7c7c; border-color: #7c7c7c; border-bottom-width: 1px;border-bottom-style: solid;">
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;font-size: 14px;">C$2,00</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">Alface</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">20</td>
            <td style="padding-bottom: 1px;padding-left: 0px; padding-top: 0px; padding-right: 0px; border-right-width: 1px; border-right-style: solid;">
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input style="text-align: center;
                    padding-bottom: 1px;
                    padding-left: 0px;
                    padding-top: 0px; 
                    padding-right: 0px;
                    border-left-width: 0px; 
                    border-left-style: solid;
                    border-top-width: 0px; 
                    border-top-style: solid;
                    border-bottom-width: 0px; 
                    border-bottom-style: solid;
                    border-right-width: 0px; 
                    border-right-style: solid;
                    font-style: italic;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;" type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">C$0,00</td>
          </tr>
          <tr style="color: #7c7c7c; border-color: #7c7c7c; border-bottom-width: 1px;border-bottom-style: solid;">
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;font-size: 14px;">C$3,00</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">Rúcula</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">10</td>
            <td style="padding-bottom: 1px;padding-left: 0px; padding-top: 0px; padding-right: 0px; border-right-width: 1px; border-right-style: solid;">
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input style="text-align: center;
                    padding-bottom: 1px;
                    padding-left: 0px; 
                    padding-top: 0px; 
                    padding-right: 0px;
                    border-left-width: 0px; 
                    border-left-style: solid;
                    border-top-width: 0px; 
                    border-top-style: solid;
                    border-bottom-width: 0px; 
                    border-bottom-style: solid;
                    border-right-width: 0px; 
                    border-right-style: solid;
                    font-style: italic;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;" type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">C$0,00</td>
          </tr>
          <tr style="color: #7c7c7c; border-color: #7c7c7c; border-bottom-width: 1px;border-bottom-style: solid;">
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;font-size: 14px;">C$4,00</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">Pimenta</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">25</td>
            <td style="padding-bottom: 1px;padding-left: 0px; padding-top: 0px; padding-right: 0px; border-right-width: 1px; border-right-style: solid;">
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input style="text-align: center;
                    padding-bottom: 1px;
                    padding-left: 0px; 
                    padding-top: 0px; 
                    padding-right: 0px;
                    border-left-width: 0px; 
                    border-left-style: solid;
                    border-top-width: 0px; 
                    border-top-style: solid;
                    border-bottom-width: 0px; 
                    border-bottom-style: solid;
                    border-right-width: 0px; 
                    border-right-style: solid;
                    font-style: italic;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;" type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">C$0,00</td>
          </tr>
          <tr style="color: #7c7c7c; border-color: #7c7c7c; border-bottom-width: 1px;border-bottom-style: solid;">
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;font-size: 14px;">C$5,00</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">Cebola</td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">0</td>
            <td style="padding-bottom: 1px;padding-left: 0px; padding-top: 0px; padding-right: 0px; border-right-width: 1px; border-right-style: solid;">
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input style="text-align: center;
                    padding-bottom: 1px;
                    padding-left: 0px; 
                    padding-top: 0px; 
                    padding-right: 0px;
                    border-left-width: 0px; 
                    border-left-style: solid;
                    border-top-width: 0px; 
                    border-top-style: solid;
                    border-bottom-width: 0px; 
                    border-bottom-style: solid;
                    border-right-width: 0px; 
                    border-right-style: solid;
                    font-style: italic;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;" type="text" class="form-control" id="inlineFormInputName" placeholder="Qtd. desejada">
                  </div>
                </div>
              </form>
            </td>
            <td style="text-align: center;padding-bottom: 0px;padding-left: 1px;padding-top: 0px;padding-right: 1px;border-right-width: 1px;border-right-style: solid;">C$0,00</td>
          </tr>
          <tr style="color: #7c7c7c; text-align: center;">
            <td style="border-bottom-width: 1px;border-bottom-style: solid;"></td>
            <td style="border-bottom-width: 1px;border-bottom-style: solid;"></td>
            <td style="border-bottom-width: 1px;border-bottom-style: solid;"></td>
            <td style="padding-bottom: 5px;padding-left: 0px; padding-top: 0px; padding-right: 0px; border-bottom-width: 1px;border-bottom-style: solid;">Total:</td>
            <td style="padding-bottom: 5px;padding-left: 0px; padding-top: 0px; padding-right: 0px; border-bottom-width: 1px;border-bottom-style: solid;">C$0,00</td>
          </tr>
          <tr style="color: #7c7c7c; text-align: center;">
            <td style="border-bottom-width: 1px;border-bottom-style: solid;"></td>
            <td style="border-bottom-width: 1px;border-bottom-style: solid;"></td>
            <td style="border-bottom-width: 1px;border-bottom-style: solid;"></td>
            <td style="padding-bottom: 5px;padding-left: 0px; padding-top: 0px; padding-right: 0px;border-bottom-width: 1px;border-bottom-style: solid;">Você tem:</td>
            <td style="padding-bottom: 5x;padding-left: 0px; padding-top: 0px; padding-right: 0px;border-bottom-width: 1px;border-bottom-style: solid;">C$100,00</td>
          </tr>
        </table>
        
        <table style="width: 90%; font-size: 24px; margin-left: 45px; margin-top: 15px; border-top-style: solid; border-top-width: 1px; border-left-style: solid; border-left-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-right-width: 1px; border-right-style: solid; border-color: white; float: center;">
          <tr>
            <td>
              <h1 style="text-align: center; margin-bottom: 25px;">
                <a class="button" href="#"
                  style="float: center; border:1px solid; vertical-align: middle; background:#338326; color:white; font-weight: 600; border-radius:6px; font-size: 24px; padding-left: 80px;padding-right: 80px;padding-bottom: 10px;padding-top: 10px;">Solicitar</a>
              </h1>
            </td>
          </tr>

        </table>
      </td>
      <td width="50%" valign="top"
        style="padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;">
        <!-- ADICIONAR A IMAGEM  -->
      </td>

    </tr>
  </table>
</body>

</html>