<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="css" href="login.component.css"/>
        <meta name="viewport" content="width=device-width, height=device-width, initial-scale=1">
    </head>
<body>
    <div class="main">
        <table style="border: 0px; padding:0px" width=100% cellpadding="10">
        <tr>
            <td width="50%" valign="top">
                <h1 class="login-title">Login</h1>
                <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-6 form-div">
                            <input type="text" class="form-control" id="staticEmail">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Senha:</label>
                        <div class="col-sm-6 form-div">
                            <input type="password" class="form-control" id="inputPassword">
                            <a class="esqueci-senha-button" routerLink="/recuperar-senha">Esqueci minha senha</a>
                        </div>
                    </div>
                </form>
                <table class="table-botao">
                    <tr>
                        <td>
                            <h1 class="button-h1">
                                <a class="entrar-button" (click) = "navigateToDashboard()">Entrar</a>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1 class="button-h1">
                                <a class="cadastrar-button" routerLink="/cadastro">Cadastrar</a>
                            </h1>
                        </td>
                    </tr>
                </table>
            </td>
            <td 
                class="image_background">
            </td>
        </tr>
    </table>
    </div>
    
</body>
</html>