<div class="card bg-dark text-white">
  <img src="assets\img\Rectangle 56.svg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title" 
    style="font-weight: 600; 
          font-style: normal; 
          line-height: 5; 
          font-size: 4rem; 
          text-align: right;">
          {{title}}
        </h5>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 26px; letter-spacing: -0.033em; line-height: 24px; font-weight: 600;">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\ri_plant-line.svg" width="26" height="26" class="d-inline-block align-middle" alt="  " loading="lazy">
          Dados da Horta      </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\Vector.svg" width="20" height="20" class="d-inline-block align-middle" alt="  " loading="lazy">
          Produtos      </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\Group.svg" width="18" height="18" class="d-inline-block align-middle" alt="  " loading="lazy">
          Log da Horta      </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\colheita.svg" width="22" height="22" class="d-inline-block align-middle" alt="  " loading="lazy">
          Colheita/Retirada      </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\bx_bx-photo-album.svg" width="22" height="22" class="d-inline-block align-middle" alt="  " loading="lazy">
          Fotos      </a>
      </li>

    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="color: #7c7c7c">
      <img src="assets\img\Ellipse 29.svg" width="24" height="24" class="d-inline-block align-middle" alt="  " loading="lazy" >
      Cliente
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Ver Perfil</a></li>
      <li><a href="#">Sair</a></li>
    </ul>
  </div>
</nav>

<nav>
  <p _ngcontent-jjk-c16="" style="font-size: 20px; color: #7c7c7c; margin: 20px; line-height: 35px; margin-top: 15px; margin-bottom: 10px;">
    <img _ngcontent-jjk-c16="" src="assets\img\ant-design_arrow-right-outlined.svg" alt="..." class="icon" width="24" height="24">{{title2}}
  </p>

  <p _ngcontent-jjk-c16="" style="font-size: 18px; color: #7c7c7c; line-height: 50px; margin-bottom: 0px; margin-left: 45px;">
    <img _ngcontent-jjk-c16="" src="assets\img\ant-design_arrow-right-outlined.svg" alt="..." class="icon" width="18" height="18">Umidade:
    <span _ngcontent-ysm-c16="" class="badge badge-success" style="border-left-width: 0px;border-left-style: solid;border-right-width: 0px;border-right-style: solid;padding-left: 10px;padding-right: 10px;color:#7c7c7c; background-color:#1fe34169">30%</span>
  </p>

</nav>
