<div class="card bg-dark text-white">
  <img src="assets\img\Rectangle 56.svg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 _ngcontent-qtr-c16="" _ngcontent-rcf-c16="" class="card-title" 
    style="font-weight: 600; font-style: normal; line-height: 3,5;font-size: 4rem; text-align: right;">Horta Inteligente</h5>
  </div>
</div>


<!-- Estrutra 'list group' -->
<!-- <ul class="list-group">
  <li class="list-group-item">
    <img src="assets\img\ri_plant-line.svg" width="24" height="24" class="d-inline-block align-middle" alt="" loading="lazy">
    Dados da Horta</li>
  <li class="list-group-item">
    <img src="assets\img\Vector.svg" width="18" height="18" class="d-inline-block align-middle" alt="" loading="lazy">
    Produtos</li>
  <li class="list-group-item">
    <img src="assets\img\Group.svg" width="16" height="16" class="d-inline-block align-middle" alt="" loading="lazy">
    Log da Horta</li>
  <li class="list-group-item">
    <img src="assets\img\colheita.svg" width="20" height="20" class="d-inline-block align-middle" alt="" loading="lazy">
    Colheita/Retirada</li>
  <li class="list-group-item">
    <img src="assets\img\bx_bx-photo-album.svg" width="20" height="20" class="d-inline-block align-middle" alt="" loading="lazy">
    Fotos</li>
  <li class="list-group-item">
    <img src="assets\img\exit.svg" width="16" height="16" class="d-inline-block align-middle" alt="" loading="lazy">
    Sair</li>
</ul> -->


<!-- Estrutra 'nav-bar' -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\ri_plant-line.svg" width="24" height="24" class="d-inline-block align-middle" alt="" loading="lazy">
          Dados da Horta</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\Vector.svg" width="18" height="18" class="d-inline-block align-middle" alt="" loading="lazy">
          Produtos
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\Group.svg" width="16" height="16" class="d-inline-block align-middle" alt="" loading="lazy">
          Log da Horta
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\colheita.svg" width="20" height="20" class="d-inline-block align-middle" alt="" loading="lazy">
          Colheita/Retirada
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\bx_bx-photo-album.svg" width="20" height="20" class="d-inline-block align-middle" alt="" loading="lazy">
          Fotos
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets\img\exit.svg" width="16" height="16" class="d-inline-block align-middle" alt="" loading="lazy">
          Sair
        </a>

      </li>
    </ul>
  </div>
</nav> -->

<!-- Estrutura nav -->
<nav class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="assets\img\ri_plant-line.svg" width="24" height="24" class="d-inline-block align-middle" alt="" loading="lazy">
      Dados da Horta</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="assets\img\Vector.svg" width="18" height="18" class="d-inline-block align-middle" alt="" loading="lazy">
      Produtos
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="assets\img\Group.svg" width="16" height="16" class="d-inline-block align-middle" alt="" loading="lazy">
      Log da Horta
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="assets\img\colheita.svg" width="20" height="20" class="d-inline-block align-middle" alt="" loading="lazy">
      Colheita/Retirada
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="assets\img\bx_bx-photo-album.svg" width="20" height="20" class="d-inline-block align-middle" alt="" loading="lazy">
      Fotos
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="assets\img\exit.svg" width="16" height="16" class="d-inline-block align-middle" alt="" loading="lazy">
      Sair
    </a>

  </li>
</nav>